<h3><%= t('.title') %></h3>

<%= render 'form', user: @user %>

<div class = "text-secondary" >
  <%= link_to t('common.show'), @user, class: "text-secondary" %> |
  <%= link_to t('common.back'), users_path, class: "text-secondary" %>
</div>